# 目的
手元のデータに対して既存のテクニカル指標を計算し、それらを保存する。

In [1]:
import glob
from itertools import combinations
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

import sys
sys.path.append("../pybitcoin/gui/utils/")

from DataAdapter import DataAdapter

%matplotlib inline

In [2]:
file_list = glob.glob("../pybitcoin/gui/data/ohlcv/OHLCV*.csv")
data = None
for fpath in file_list:
    if data is None:
        data = pd.read_csv(fpath, index_col=0)
    else:
        data = pd.concat((data, pd.read_csv(fpath, index_col=0)))

In [4]:
data.tail()

,time,id_start,id_end,open,high,low,close,volume
1435,1.548828e+09,771672450,771675176,373304,373441,373238,373316,363.896813
1436,1.548828e+09,771675177,771677655,373301,373500,373298,373337,320.267716
1437,1.548828e+09,771677656,771681124,373337,373697,373300,373576,550.543147
1438,1.548828e+09,771681125,771684517,373576,373640,373340,373419,497.981185
1439,1.548828e+09,771684518,771688738,373417,373585,372785,372785,835.747613