# 目的
毎日のOHLCVをダウンロードする。   
CryptoCompare(https://min-api.cryptocompare.com/) では七日間だけminute OHLCV が残されているらしい。   
デイリーの分も残すが、minute がデイリーに及ぼす影響も見ておきたい。

In [2]:
import urllib.request
import urllib.parse
import json

def getRateViaCrypto(histoticks, params):
    """getRateViaCrypto(histoticks, params)
    get rate via CryptoCompare (https://min-api.cryptocompare.com/).
    params should be a dict object with items of str.
    <params>
    histoticks: day, hour, minute or some tick (see the site)
    params: parameters to send the site 
        fsym : currency symbol of interest (required)
        tsym : currency symbol to convert into (required)
        limit: limit of retrieved data (max: 2000)
        e    : the exchange to obtain data from (CCCAGG - by default)
        toTs : last unix timestamp to return data for
    </params>
    
    <return>
    retrieved data (json object)
    </return>
    """
    
    url = "https://min-api.cryptocompare.com/data/"
    url += "histo{}".format(histoticks) + "?" + urllib.parse.urlencode(params) 
    res = urllib.request.urlopen(url)
    result = json.loads(res.read().decode('utf-8'))
    return result

In [3]:
import numpy as np
import pandas as pd
import copy
import datetime

datetimeFmt = "%Y-%m-%dT%H:%M:%S.%f"

def toDataFrame(data, is_datetime=False):
    """toDataFrame(data)
    convert data to a DataFrame object.
    'data' is obtained from CryptoCompare.
    The values in the 'time' are converted to datetime strings 
    if 'is_datetime' == True.
    
    <params>
    data       : data obtained from CryptoCompare (dict object)
    is_datetime: boolean
    </params>
    
    <return>
    a DataFrame object
    </return>
    """
    
    if not isinstance(data, dict):
        raise TypeError
    keys = data["Data"][0].keys()
    
    output = np.zeros((len(data["Data"]), len(keys)), dtype=object)
    for ii, col in enumerate(data["Data"]):
        if is_datetime:
            buff = copy.deepcopy(col)
            datetime1 = datetime.datetime.fromtimestamp(buff["time"])
            buff["time"] = datetime1.strftime(datetimeFmt)
            output[ii] = np.array([buff[key] for key in keys], dtype=object)
        else:
            output[ii] = np.array([col[key] for key in keys])
        
    return pd.DataFrame(output, columns=list(keys))

## minute OHLCV の取得テスト
`minute`を指定する。   
分足は一度に最大300まで取得できる。

In [5]:
histoticks = "minute"
params = {
    "fsym": "BTC",
    "tsym": "JPY",
    "limit": "10", # １時間分
    "e": "bitFlyer"
}
result = getRateViaCrypto(histoticks, params)
for key in result.keys():
    if key != "Data":
        print(key, result[key])
    else:
        print(key)
        for data in result[key]:
            print(data)

Response Success
Type 100
Aggregated False
Data
{'time': 1546168440, 'close': 423403, 'high': 423950, 'low': 423403, 'open': 423950, 'volumefrom': 2.53, 'volumeto': 1071110.62}
{'time': 1546168500, 'close': 423402, 'high': 423403, 'low': 423402, 'open': 423403, 'volumefrom': 1.02, 'volumeto': 431870.23}
{'time': 1546168560, 'close': 423490, 'high': 423490, 'low': 423384, 'open': 423402, 'volumefrom': 1.2, 'volumeto': 508558.22}
{'time': 1546168620, 'close': 423502, 'high': 423765, 'low': 423490, 'open': 423490, 'volumefrom': 0.231, 'volumeto': 97855.13}
{'time': 1546168680, 'close': 423381, 'high': 423502, 'low': 423381, 'open': 423502, 'volumefrom': 0.933, 'volumeto': 395124.84}
{'time': 1546168740, 'close': 423291, 'high': 423381, 'low': 423291, 'open': 423381, 'volumefrom': 0.17, 'volumeto': 71959.88}
{'time': 1546168800, 'close': 423051, 'high': 423518, 'low': 423051, 'open': 423291, 'volumefrom': 0.7424, 'volumeto': 314364.8}
{'time': 1546168860, 'close': 423076, 'high': 423076, 'low': 423051, 'open': 423051, 'volumefrom': 0.11, 'volumeto': 46537.36}
{'time': 1546168920, 'close': 423088, 'high': 423100, 'low': 423076, 'open': 423076, 'volumefrom': 0.611, 'volumeto': 258506.19}
{'time': 1546168980, 'close': 422959, 'high': 423088, 'low': 422958, 'open': 423088, 'volumefrom': 3.75, 'volumeto': 1586842.47}
{'time': 1546169040, 'close': 422954, 'high': 422959, 'low': 422954, 'open': 422959, 'volumefrom': 0, 'volumeto': 0}
TimeTo 1546169040
TimeFrom 1546168440
FirstValueInArray True
ConversionType {'type': 'force_direct', 'conversionSymbol': ''}
RateLimit {}
HasWarning False

In [6]:
histoticks = "minute"
params = {
    "fsym": "BTC",
    "tsym": "JPY",
    "limit": "10", # １時間分
    "e": "bitFlyerfx"
}
result = getRateViaCrypto(histoticks, params)
for key in result.keys():
    if key != "Data":
        print(key, result[key])
    else:
        print(key)
        for data in result[key]:
            print(data)

Response Success
Type 100
Aggregated False
Data
{'time': 1546168500, 'close': 422359, 'high': 422600, 'low': 422350, 'open': 422409, 'volumefrom': 135.32, 'volumeto': 57171080.97}
{'time': 1546168560, 'close': 422532, 'high': 422571, 'low': 422190, 'open': 422359, 'volumefrom': 153.37, 'volumeto': 64776950.97}
{'time': 1546168620, 'close': 422467, 'high': 422748, 'low': 422277, 'open': 422532, 'volumefrom': 220.04, 'volumeto': 92972468.2}
{'time': 1546168680, 'close': 422277, 'high': 422506, 'low': 422169, 'open': 422467, 'volumefrom': 117.4, 'volumeto': 49577556.21}
{'time': 1546168740, 'close': 422231, 'high': 422378, 'low': 422024, 'open': 422277, 'volumefrom': 96.89, 'volumeto': 40904810.29}
{'time': 1546168800, 'close': 422355, 'high': 422446, 'low': 422231, 'open': 422231, 'volumefrom': 111.25, 'volumeto': 46986049.58}
{'time': 1546168860, 'close': 422012, 'high': 422407, 'low': 422012, 'open': 422355, 'volumefrom': 140.79, 'volumeto': 59439721.44}
{'time': 1546168920, 'close': 421937, 'high': 422300, 'low': 421851, 'open': 422012, 'volumefrom': 218.1, 'volumeto': 92064297.15}
{'time': 1546168980, 'close': 421923, 'high': 422117, 'low': 421800, 'open': 421937, 'volumefrom': 162.4, 'volumeto': 68525206.42}
{'time': 1546169040, 'close': 421834, 'high': 421959, 'low': 421805, 'open': 421923, 'volumefrom': 11.88, 'volumeto': 5011603.77}
{'time': 1546169100, 'close': 422102, 'high': 422102, 'low': 421834, 'open': 421834, 'volumefrom': 0, 'volumeto': 0}
TimeTo 1546169100
TimeFrom 1546168500
FirstValueInArray True
ConversionType {'type': 'force_direct', 'conversionSymbol': ''}
RateLimit {}
HasWarning False

### ローソク足チャート

In [4]:
import matplotlib.pyplot as plt
from matplotlib.finance import candlestick_ohlc
%matplotlib inline

df = toDataFrame(result, False)
timestamps = df["time"].as_matrix()


# candle stick
fig, axes = plt.subplots(figsize=(8, 8))
_ = candlestick_ohlc(axes, df[["time", "open", "high", "low", "close"]].values, width=np.diff(timestamps)[0]*0.8)
plt.ylabel("JPY/BTC")
plt.xlabel("time")

ModuleNotFoundError: No module named 'matplotlib.finance'

In [18]:
import time

datetimeFmt = "%Y-%m-%dT%H:%M:%S.%f"

toTs_end = datetime.datetime(2019, 1, 3, 12, 1, 0).timestamp()
toTs_last = datetime.datetime(2019, 1, 5, 12, 0, 0).timestamp()
histoticks = "minute"
hours = 4 # ６回に分けてデータを取得する
limit = int(hours*60 - 1)

for ii in range(3*365*24): # とりあえず３年分に設定
    toTs = toTs_last - ii * hours * 3600
    datetime1 = datetime.datetime.fromtimestamp(toTs)
    print(ii, datetime1.strftime(datetimeFmt))
    if toTs <= toTs_end:
        break
    params = {
        "fsym": "BTC",
        "tsym": "JPY",
        "limit": str(limit),
        "e": "bitFlyerfx",
        "toTs":str(toTs)
    }
    result = getRateViaCrypto(histoticks, params)
    if ii == 0:
        df = toDataFrame(result, True)
    else:
        df = pd.concat([toDataFrame(result, True), df], ignore_index=True)
    time.sleep(5)
#     if ii == 2:
#         break

0 2019-01-05T12:00:00.000000
1 2019-01-05T08:00:00.000000
2 2019-01-05T04:00:00.000000
3 2019-01-05T00:00:00.000000
4 2019-01-04T20:00:00.000000
5 2019-01-04T16:00:00.000000
6 2019-01-04T12:00:00.000000
7 2019-01-04T08:00:00.000000
8 2019-01-04T04:00:00.000000
9 2019-01-04T00:00:00.000000
10 2019-01-03T20:00:00.000000
11 2019-01-03T16:00:00.000000
12 2019-01-03T12:00:00.000000

In [19]:
df.head()

,time,close,high,low,open,volumefrom,volumeto
0,2019-01-03T12:01:00.000000,415461,415514,415408,415487,53.92,2.24022e+07
1,2019-01-03T12:02:00.000000,415426,415587,415400,415461,122.86,5.10416e+07
2,2019-01-03T12:03:00.000000,415498,415520,415402,415426,75.62,3.14156e+07
3,2019-01-03T12:04:00.000000,415466,415533,415450,415498,40.5,1.68257e+07
4,2019-01-03T12:05:00.000000,415470,415493,415422,415466,38.02,1.57964e+07

In [20]:
df.tail()

,time,close,high,low,open,volumefrom,volumeto
2875,2019-01-05T11:56:00.000000,416525,416654,416500,416642,62.71,2.61211e+07
2876,2019-01-05T11:57:00.000000,416636,416739,416504,416525,120.99,5.04103e+07
2877,2019-01-05T11:58:00.000000,416716,416847,416636,416636,126.07,5.25401e+07
2878,2019-01-05T11:59:00.000000,416701,416750,416555,416716,74.11,3.08792e+07
2879,2019-01-05T12:00:00.000000,416874,416940,416686,416701,134.74,5.61634e+07

In [21]:
df.to_csv("../data/ohlcv/OHLCV_{}_to_{}.csv".\
         format(datetime.datetime.fromtimestamp(toTs_end).strftime("%Y%m%d%H%M"),
               datetime.datetime.fromtimestamp(toTs_last).strftime("%Y%m%d%H%M")))

In [ ]:
from google.colab import files

files.download("./test.csv")