# 目的
トレンドグラフを確認する。できればどのタイミングでドロップするのか分かればうれしい。

In [1]:
import sys
import pyBitCoin.pybitcoin as pybct
import pickle
import time
import pandas as pd
from pathlib import Path
from datetime import datetime

import matplotlib.pyplot as plt
# from matplotlib.finance import candlestick_ohlc
import mpl_finance
%matplotlib inline

# 時間足

## データパス

In [2]:
fldrpath = "../data/hour/"
fobjlist = Path(fldrpath).glob("*cccagg*BTC*.csv")
filelist = [fpath for fpath in fobjlist]
filelist

[WindowsPath('../data/hour/cccagg_BTC_JPY_2016010101_2018060100.csv')]

In [3]:
df = pd.read_csv(filelist[0], delimiter=",")
df.head(10)

,Unnamed: 0,time,close,high,low,open,volumefrom,volumeto
0,0,1.450022e+09,53202.80,53350.64,52582.51,53277.34,382.56,20256708.65
1,1,1.450026e+09,53285.57,53378.29,53189.82,53202.80,47.20,2516806.36
2,2,1.450030e+09,53248.27,53284.25,53083.16,53285.57,35.02,1863775.60
3,3,1.450033e+09,53269.75,53290.36,53208.92,53248.27,61.53,3276303.41
4,4,1.450037e+09,53481.75,53558.30,53206.37,53269.75,84.47,4514708.95
5,5,1.450040e+09,52510.44,53459.54,52488.71,53481.75,162.88,8636677.47
6,6,1.450044e+09,52634.94,52938.08,52238.40,52510.44,157.76,8283598.32
7,7,1.450048e+09,53028.98,53053.37,52507.28,52634.94,195.95,10311093.60
8,8,1.450051e+09,52182.08,53116.55,51725.77,53028.98,489.44,25521304.69
9,9,1.450055e+09,52448.66,52528.79,52087.86,52182.08,224.32,11743540.42

In [4]:
times = [datetime.fromtimestamp(tstamp) for tstamp in df["time"].values]